body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

.pedido {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
